// COLORS
$hero-primary-color: #c6ebec;

$card-primary-color: #00a9a8;
$card-secondary-color: #fdc826;
$card-bg-color: #eef1ee;

$process-primary-color: #00a9a8;
$process-secondary-color: #fdc826;
$process-bg-color: #eef1ee;

$choose-primary-color: #ee7f1b;
$choose-secondary-color: #fedf41;
$choose-bg-color: #eef1ee;

$carousel-primary-color: #6bb9b0;

$footer-bg-color: #1d2121;

$last-bg-color: #edfbf9;

$button-primary-color: rgba(254, 223, 66);
$button-primary-hover-color: rgba(255, 223, 67, 0.6);

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;
