/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  background: none;
  font-family: Myriad Pro Regular;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  font-family: "Myriad Pro";
  font-weight: 600;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* Cursor Section */
.cursor {
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 99999999;
  top: 0;
  left: 0;
  opacity: 1;
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #ff5e4c;
}

body {
  overflow-x: hidden;
  user-select: none;
  background: black;
  height: 2000px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.g {
  background: green;
}

.b {
  background: blue;
}

.r {
  background: red;
}

.y {
  background: yellow;
}

.w {
  background: white;
}

.p {
  cursor: pointer;
}

.mt-5 {
  margin-top: 5px;
}

.sec {
  height: 100vh;
  color: white;
  font-family: "open sans";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 82px;
}

.navigation {
  position: fixed;
  height: 205px;
  margin-top: 30px;
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: flex-end;
  transition: 0.4s;
}
.navigation > svg {
  display: none;
}
@media (max-width: 768px) {
  .navigation {
    margin-top: 0;
    height: 78px;
    border-bottom: 0.5px solid rgba(139, 139, 139, 0.84);
  }
  .navigation > svg {
    display: block;
    fill: #8577FF;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }
}
@media (min-width: 769px) and (max-width: 1454px) {
  .navigation {
    height: 165px;
  }
}
.navigation.collapse {
  margin-top: 0;
  background: #000;
}
@media (min-width: 769px) {
  .navigation.collapse {
    height: 74px;
  }
  .navigation.collapse > .ewl__logo {
    left: 75px;
    top: 50%;
    transform: translateX(0%) translateY(-40%);
  }
}
@media (min-width: 769px) and (min-width: 1100px) and (max-width: 1454px) {
  .navigation.collapse > .ewl__logo {
    left: 10%;
    transform: translateX(0%) translateY(-30%);
  }
}
@media (min-width: 769px) and (min-width: 769px) and (max-width: 1099px) {
  .navigation.collapse > .ewl__logo {
    left: 12%;
    transform: translateX(0%) translateY(-30%);
  }
}
@media (min-width: 769px) {
  .navigation.collapse > .ewl__logo > img {
    transition: 0.4s;
    height: 54px;
  }
}
@media (min-width: 769px) {
  .navigation.collapse > .nav__items {
    margin-top: 20px;
  }
  .navigation.collapse > .nav__items > ul > .ims__logo > .right {
    transform: translateX(-200px);
    opacity: 0;
  }
}
.navigation > .ewl__logo {
  position: absolute;
  transition: 0.4s;
}
@media (min-width: 769px) {
  .navigation > .ewl__logo {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.navigation > .ewl__logo > img {
  height: 95px;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .navigation > .ewl__logo > img {
    height: 44px;
  }
}
@media (max-width: 768px) {
  .navigation > .ewl__logo {
    position: absolute;
    top: 60%;
    right: 5%;
    display: inline-block;
    transform: translateY(-50%);
  }
}
@media (min-width: 769px) and (max-width: 1454px) {
  .navigation > .ewl__logo {
    zoom: 0.8;
  }
}
.navigation > .nav__items {
  height: 74px;
  width: 100%;
}
@media (max-width: 768px) {
  .navigation > .nav__items {
    position: absolute;
    top: 100%;
    height: 297px;
  }
}
@media (min-width: 769px) and (max-width: 1454px) {
  .navigation > .nav__items {
    zoom: 0.8;
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .navigation > .nav__items.mobDropDown > ul {
    height: 297px;
  }
}
.navigation > .nav__items > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 0.5px solid rgba(139, 139, 139, 0.84);
  display: flex;
  list-style: none;
  justify-content: space-between;
  transition: 0.4s;
}
@media (max-width: 768px) {
  .navigation > .nav__items > ul {
    flex-direction: column;
    height: 0;
    overflow: hidden;
  }
}
.navigation > .nav__items > ul > li {
  position: relative;
}
@media (max-width: 768px) {
  .navigation > .nav__items > ul > li {
    width: 100%;
    border-bottom: 0.5px solid rgba(139, 139, 139, 0.84);
  }
}
.navigation > .nav__items > ul > li.ims__logo {
  transform: translateX(0);
  transition: 0.4s;
}
.navigation > .nav__items > ul > li.ims__logo > .right {
  transition: 0.4s;
}
.navigation > .nav__items > ul > li.ims__logo > img {
  height: 74px;
}
@media (max-width: 768px) {
  .navigation > .nav__items > ul > li.ims__logo.ims__logo {
    display: none;
  }
}
.navigation > .nav__items > ul > li.active > a {
  color: #412BFE;
  font-weight: 700;
}
.navigation > .nav__items > ul > li.moving__line {
  position: absolute;
  line-height: 74px;
  top: 100%;
  height: 4px;
  left: 0;
  background: #412BFE;
  transition: 0.3s cubic-bezier(0.23, 0.36, 0.08, 1.33);
}
@media (max-width: 768px) {
  .navigation > .nav__items > ul > li.moving__line {
    display: none;
  }
}
.navigation > .nav__items > ul > li > a {
  padding: 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 74px;
  font-weight: normal;
  color: #fff;
  transition: 0.4s;
  display: block;
  text-align: center;
}
@media (max-width: 768px) {
  .navigation > .nav__items > ul > li > a {
    text-align: left;
  }
}
@media (min-width: 400px) and (max-width: 768px) {
  .navigation > .nav__items > ul > li > a {
    padding-left: 120px;
  }
}
.navigation > .nav__items > ul > li > a:hover {
  color: #412BFE;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0;
  background: none;
  font-family: Myriad Pro Regular;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  font-family: "Myriad Pro";
  font-weight: 600;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* Cursor Section */
.cursor {
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 99999999;
  top: 0;
  left: 0;
  opacity: 1;
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #ff5e4c;
}

body {
  overflow-x: hidden;
  user-select: none;
  background: black;
  height: 2000px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.g {
  background: green;
}

.b {
  background: blue;
}

.r {
  background: red;
}

.y {
  background: yellow;
}

.w {
  background: white;
}

.p {
  cursor: pointer;
}

.mt-5 {
  margin-top: 5px;
}

@keyframes dotAnim {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(0.8);
  }
}

/*# sourceMappingURL=main.css.map */
