.hero_Section.dashboard {
  margin-top: 110px;


  @media screen and (max-width: $break-medium-fix1) {
    margin-top: 90px;
  }

  @media screen and (max-width: $break-nav) {
    margin-top: 80px;
  }

  > .wrapper {
    height: auto;
    border-bottom: 60px solid rgba(0,0,0,0.8);
    box-sizing: content-box;

    @media screen and (max-width: $break-medium-fix1) {
      zoom: 0.88;
    }

    @media screen and (max-width: $break-medium-md) {
      zoom: 0.75;
    }

    @media screen and (max-width: $break-hero) {
      zoom: 0.65;
    }

    &.notLoggedIn {
      padding: 120px 0;
      border: none;
    }

    &.borderNone {
      border: none;
    }

    > .teacherLogIn {
      > form {
        max-width: 450px;
        margin: 0 auto;
        background: #eee;
        padding: 30px 60px;
        border-radius: 3px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.4);
        display: block;

        &.none {
          display: none;
        }

        > h2 {
          text-align: center;
        }

        > * {
          margin: 16px 0;
          width: 100%;
        }

        > label {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 2px;
          color: rgba(0,0,0,.8);
        }

        > .input--box {
          @include flexCenter();
          justify-content: flex-start;
          border: 1px solid rgba(128, 128, 128, 0.39);
          background: #fff;
          padding-left: 25px;

          > img {
            height: 20px;
          }

          > input {
            height: 40px;
            outline: none;
            border: none;
            border-left: 1px solid rgba(128, 128, 128, 0.39);
            font-size: 21px;
          }
        }

        > .forgotPw {
          display: block;
          color: #22a2a4;
          text-align: right;
        }

        > .logInBtn--teacher {
          padding: 14px 0;
          display: block;
          text-align: center;
          background: #22a2a4;
          border-radius: 5px;
          color: #000;
        }
      }
    }

    > .dash__fav {
      width: 100%;
      height: 60px;
      @include flexCenter();
      justify-content: flex-end;
      padding-right: 100px;
      background: rgba(0,0,0,0.8);

      &.none {
        display: none;
      }

      > img {
        height: 30px;
      }
    }

    > .dashboard__container {
      width: 100%;
      display: flex;
      justify-content: center;

      &.teacher {
        &.none {
          display: none;
        }
      }

      > .left {
        background: rgba(0,0,0,0.8);
        width: 90vw;
        //width: 85px;
        max-width: 300px;
        min-width: 220px;
        color: #fff;
        letter-spacing: 1px;

        > .break {
          border-top: 1px solid #fff;
        }

        > .person {
          @include flexCenter();
          flex-direction: column;
          margin: 30px 0;
          > img {
            width: 100px;
            height: 100px;
            border-radius: 300px;
            margin-bottom: 20px;
            border: 5px solid rgba(237, 237, 237, 0.43);
            box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
          }
        }

        > .subjects {
          > .content-head {
            margin-bottom: 10px;
          }
          > .content-child {
            padding-left: 100px;

            > p {
              margin: 10px 0;
            }
          }
        }

        .content-head {
          position: relative;
          width: 100%;
          @include flexCenter();
          justify-content: flex-start;
          margin: 8px 0;
          padding: 8px 0;
          cursor: pointer;
          transition: .2s;

          &:hover {
            background: rgba(0,0,0,0.9);
          }

          &.active {
            background: rgba(0,0,0,0.9);
          }

          &.active::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            width: 20px;
            height: 100%;
            background: rgba(0,0,0,1);
            clip-path: polygon(36% 28%, 100% 50%, 36% 70%, 36% 100%, 0 100%, 0 0, 36% 0);
          }

          > img {
            width: 20px;
            margin: 0 30px;
          }

          > h3 {
            font-weight: 500;
          }
        }
      }

      > .right {
        width: 100%;
        background: #fff;

        > .myClasses,
        > .myAssessment,
        > .myDoubts,
        > .myAssignment,
        > .myPreviousLectures,
        > .myCreateTest{
          height: 100%;
          width: 100%;
          @include flexCenter();
          flex-direction: column;
          justify-content: space-evenly;

          > h2 {
            position: relative;
            font-size: 40px;
            text-transform: uppercase;
            &::before {
              content: '';
              position: absolute;
              left: 50%;
              top: 130%;
              transform: translateX(-50%);
              height: 4px;
              width: 60px;
              background: #2797A7;
            }
          }

          > .grid__Container {
            @include flexCenter();
            align-items: flex-start;
            max-width: 200px;

            > .box {
              @include flexCenter();
              flex-direction: column;
              margin: 0 20px;
              text-align: center;

              > img {
                max-width: 240px;
              }
              > p {
                margin-top: 10px;
                font-size: 19px;
                font-weight: 600;
                line-height: 25px;
              }
            }
          }
        }
        > .myDoubts {
          > .grid__Container {
            > .box {
              margin: 0 50px;
            }
          }
        }

        > .myProfile {
          display: flex;
          height: 100%;

          > .left {
            width: 50%;
            height: 100%;
            @include flexCenter();
            flex-direction: column;

            > .profilePic {
              @include flexCenter();
              flex-direction: column;
              text-align: center;

              > img {
                border-radius: 1000px;
                width: 120px;
                height: 120px;
                margin: 20px 0;
                border: 5px solid rgba(237, 237, 237, 0.43);
                box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
              }

              > .id {
                letter-spacing: 2px;
                font-size: 18px;
                min-width: 350px;
                max-width: 450px;
              }

              > .name {
                min-width: 350px;
                max-width: 450px;
                letter-spacing: 2px;
                font-size: 18px;
                font-weight: 700;
              }
            }
          }

          > .right {
            width: 50%;
            height: 100%;
            @include flexCenter();
            flex-direction: column;
            padding: 100px 0;
            justify-content: flex-start;

            > .adhaar {
              margin: 100px 0;

              > .adhaarBtn {
                margin: 40px 0;
                min-width: 350px;
                max-width: 450px;
                padding: 14px 0;
                text-align: center;
                background: #ccc;
                letter-spacing: 2px;
                font-size: 18px;
                font-weight: 700;
              }
            }
          }
        }

        .detail {
          min-width: 350px;
          max-width: 450px;
          @include flexCenter();
          justify-content: flex-start;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 800;
          border-bottom: 1px solid rgba(0,0,0,0.3);
          padding: 18px 0;

          > p {
            padding: 0 10px;
          }
        }

        .breakBottom {
          border-bottom: 1px solid rgba(0,0,0,0.3);
          padding: 18px 0;
        }
      }
    }
  }
}

.scheduleClass {
  max-width: 500px;
  margin: 80px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  > a {
    margin: 40px 0;
    padding: 10px 60px;
    border: 1px solid #0d72a4;
    background: #22a2a4;
    color: #eee;
    transition: .3s;
    letter-spacing: 1px;

    &:hover {
      border: 1px solid #22a2a4;
      background: #0d72a4;
      color: #fff;
    }
  }
}

#calendar {
  padding: 50px;
}