.cards {
  font-family: Myriad Pro Regular;
  padding: 100px 0 180px;
  background: $card-bg-color;

  > .heading {
    text-align: center;
    font-size: 23px;
    margin-bottom: 80px;
    color: $card-primary-color;
  }

  &__Container {
    max-width: 1366px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 40px;

    @media screen and (max-width: $break-medium-fix1) {
      zoom: 0.8;
    }

    @media screen and (max-width: $break-nav) {
      zoom: 0.7;
    }

    @media screen and (max-width: $break-hero-flex) {
      flex-direction: column;
      align-items: center;
      zoom: 1;
      justify-content: flex-start;
    }

    > .card {
      max-width: 280px;
      width: 25%;
      margin: 0px 30px;
      height: 215px;
      overflow: hidden;
      border-radius: 18px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
      background: #fff;
      transition: 400ms;

      @media screen and (max-width: $break-nav) {
        margin: 0px 20px;
      }

      @media screen and (max-width: $break-hero-flex) {
        width: 100%;
        margin: 20px 0px;
      }

      &:hover {
        height: 360px;
      }

      &:nth-child(even) {
        > .top {
          background: $card-secondary-color url("../img/card_section/card_img_bg.png");
        }
      }

      &:nth-child(odd) {
        > .top {
          background: $card-primary-color url("../img/card_section/card_img_bg.png");
        }
      }

      > .top {
        height: 150px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        overflow: hidden;
        @include flexCenter();
        align-items: flex-end;


        > img {
          width: 110px;
          margin-bottom: -6px;
        }
      }

      &:nth-child(2) {
        > .top {
          padding-bottom: 30px;

          > img {
            margin-bottom: -15px;
          }
        }
      }

      > .bottom {
        text-align: center;
        h3 {
          position: relative;
          margin: 20px;
          padding: 0;

          &::before {
            content: '';
            position: absolute;
            top: 110%;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 2px;
            background: #6ad5c8;
          }
        }

        p {
          margin: 0 15px;
        }
      }
    }
  }
}