// #f4f4f4

.processSection {
  background: #f4f4f4;
  background-image: url("../img/process_section/process_bg.png");
  position: relative;
  padding: 20px 0;
  background-size: 0 100%;

  > h2 {
    text-align: center;
    padding: 80px 0;
    font-family: "Myriad Pro Bold";
    color: #22a2a4;
    font-size: 30px;

    @media screen and (max-width: $break-process-mobile1) {
      padding: 65px 0;
      font-size: 38px;
    }

    @media screen and (max-width: $break-process-mobile2) {
      padding: 50px 0;
      font-size: 35px;
    }

    @media screen and (max-width: $break-process-mobile3) {
      padding: 35px 0;
      font-size: 30px;
    }
  }


  &__MobileContainer {
    display: none;

    @media screen and (max-width: $break-nav) {
      display: block;
    }

    > .box {
      width: 70vw;
      display: block;
      margin: 0 auto;

      @media screen and (max-width: 490px) {
        width: 90vw;
      }

      &:nth-child(even) {
        > img {
          float: left;
        }

        > p {
          text-align: right;
        }

        > h2 {
          text-align: right;
          white-space: normal;
        }
      }

      > img {
        float: right;
        shape-outside:circle(80%);
        margin-top: -30px;
        width: 151px;
        height: 216px;

        @media screen and (max-width: 828px) {
          margin-top: -20px;
        }

        @media screen and (max-width: 728px) {
          margin-top: -10px;
        }

        @media screen and (max-width: 628px) {
          margin-top: 30px;
        }

        @media screen and (max-width: 606px) {
          margin-top: 40px;
        }
      }

      &:first-child {
        > h2 {
          margin-top: 0;
        }
      }

      &:nth-child(1) {

        > img {
          width: 145px;
          height: 207px;
        }
      }

      &:nth-child(2) {

        > img {
          width: 138px;
          height: 189px;
        }
      }

      &:nth-child(3) {

        > img {
          width: 151px;
          height: 116px;
        }
      }

      &:nth-child(4) {

        > img {
          width: 160px;
          height: 190px;

          @media screen and (max-width: 606px) {
            margin-top: 46px;
          }
        }
      }

      > h2 {
        max-width: 450px;
        margin: 40px 0 20px;
        white-space: nowrap;

        @media screen and (max-width: 628px) {
          font-size: 20px;
        }
      }

      > p {
        max-width: 450px;
        line-height: 25px;
      }

      > ul {
        list-style-position: inside;


        > li {
          line-height: 29px;
          font-family: "Myriad Pro Regular";
          list-style: disc;
        }
      }
    }
  }


  &__Container {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 1366px;

    @media screen and (max-width: $break-medium) {
      width: 100vw;
    }

    @media screen and (max-width: $break-nav) {
      display: none;
    }

    > .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 40vw;
      height: 1160px;

      @media screen and (max-width: $break-small) {
        zoom: 0.85;
      }

      @media screen and (max-width: $break-small-md) {
        zoom: 0.9;
      }

      @media screen and (max-width: $break-small-lg) {
        zoom: 0.8;
      }

      @media screen and (max-width: $break-medium) {
        zoom: 0.75;
      }

      @media screen and (max-width: $break-medium) {
        width: 40vw;
        zoom: 0.8;
      }

      @media screen and (max-width: $break-medium-md) {
        zoom: 0.68;
        width: 40%;
      }

      @media screen and (max-width: $break-medium-fix1) {
        //zoom: 0.7;
      }

      @media screen and (max-width: $break-medium-fix2) {
        zoom: 0.7;
      }

      > .box {
        display: flex;
        max-width: 40vw;
        z-index: 3;

        @media screen and (max-width: $break-medium-md) {
          max-width: 60vw;
        }

        > .box__Left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding-right: 80px;
          padding-left: 30px;


          @media screen and (max-width: $break-medium) {
            padding-right: 0;
            padding-left: 0;
          }

          @media screen and (max-width: $break-medium-md) {
            padding-right: 0;
            padding-left: 0;
          }

          > h2 {
            color: #10494a;
            font-family: "Myriad Pro Regular";
            margin-bottom: 25px ;
          }

          > p {
            line-height: 29px;
            font-size: 19px;
            font-family: "Myriad Pro Regular";
            font-weight: 900;
          }

          > h3 {
            font-size: 21px;
            font-family: "Myriad Pro Regular";
          }

          > ul {
            margin: 10px 0;
            margin-left: 20px;

            > li {
              padding: .3em 0 .3em 10px;
              font-size: 19px;
              line-height: 29px;
              font-family: "Myriad Pro Regular";
              list-style-image: url(../images/dot.png);
              font-weight: 900;

              &:before {
                content: '';
                margin-left: -10px;
                margin-right: 10px;
              }

              > img {
                margin-right: 8px;
                width: 9px;
              }
            }
          }
        }

        > .box__Right {
          margin-left: 40px;
          margin-right: -50px;

          @include flexCenter();
        }
      }
    }

    > .mid {

      @media screen and (max-width: $break-medium-fix1) {
        margin: 0 30px;
      }

      @media screen and (max-width: $break-medium-fix2) {
        margin: 0 40px;
      }

      > .image {
        position: relative;
        width: 100px;
        zoom: 0.75;
        @include flexCenter();

        > .dot {
          position: absolute;
          animation: dotAnim .9s linear infinite;

          &1 {
            top: -56px;
            left: -5px;
          }

          &2 {
            top: 379px;
            left: -58px;
          }

          &3 {
            top: 678px;
            left: 59px;
          }

          &4 {
            top: 1060px;
            left: -61px;
          }

          &5 {
            top: 1472px;
            left: -2px;
          }
        }


      }

      @media screen and (max-width: $break-small) {
        zoom: 0.85;
      }
      @media screen and (max-width: $break-small-md) {
        zoom: 0.9;
      }

      @media screen and (max-width: $break-small-lg) {
        zoom: 0.75;
      }

      @media screen and (max-width: $break-medium) {
        zoom: 0.8;
      }

      @media screen and (max-width: $break-medium-md) {
        zoom: 0.68;
      }

      @media screen and (max-width: $break-medium-fix1) {
        //zoom: 0.7;
      }

      @media screen and (max-width: $break-medium-fix2) {
        zoom: 0.7;
      }
    }

    > .right {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 36vw;
      height: 1280px;

      @media screen and (max-width: $break-small) {
        zoom: 0.85;
      }
      @media screen and (max-width: $break-small-md) {
        zoom: 0.9;
      }

      @media screen and (max-width: $break-small-lg) {
        zoom: 0.8;
      }

      @media screen and (max-width: $break-medium) {
        width: 40vw;
        zoom: 0.8;
      }

      @media screen and (max-width: $break-medium-md) {
        zoom: 0.68;
        width: 40%;
      }

      @media screen and (max-width: $break-medium-fix1) {
        //zoom: 0.7;
      }

      @media screen and (max-width: $break-medium-fix2) {
        zoom: 0.7;
      }

      > .box {
        display: flex;
        > .box__Left {
          padding-right: 80px;
          padding-left: 30px;

          @media screen and (max-width: $break-small) {
            padding-right: 0;
          }
          @media screen and (max-width: $break-small-md) {
            padding-right: 0;
          }

          @media screen and (max-width: $break-small-lg) {
            padding-right: 0;
            width: 29vw;
          }

          @media screen and (max-width: $break-medium-md) {
            padding-right: 0;
            width: 39vw;
          }

          > h2 {
            color: #10494a;
            font-family: "Myriad Pro Regular";
            margin-bottom: 25px ;
          }

          > p {
            line-height: 29px;
            font-size: 19px;
            font-family: "Myriad Pro Regular";
            font-weight: 900;
          }

          > h3 {
            font-size: 21px;
            font-family: "Myriad Pro Regular";
          }

          > ul {
            margin: 10px 0;
            margin-left: 20px;

            > li {
              padding: .3em 0 .3em 10px;
              font-size: 19px;
              line-height: 29px;
              font-family: "Myriad Pro Regular";
              list-style-image: url(../images/dot.png);
              font-weight: 900;

              &:before {
                content: '';
                margin-left: -10px;
                margin-right: 10px;
              }

              > img {
                margin-right: 8px;
                width: 9px;
              }
            }
          }
        }

        > .box__Right {
          //min-width: 221px;
          margin-right: 80px;
          margin-left: -50px;

          @include flexCenter();
        }

        &:last-child {
          > .box__Right {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

