.wrapper {

  &.signUpWrap {
    padding-top: 100px;
    @include flexCenter();

    > .signUpCard {
      max-width: 450px;
      margin: 0 auto;
      background: #eee;
      padding: 30px 60px;
      border-radius: 3px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.4);
      display: block;

      &.none {
        display: none;
      }

      &.logIn {
        > .socialIcons {
          margin: 10px 0;
        }
      }

      > .notReg {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
      }

      > h2 {
        text-align: center;
      }

      > * {
        margin: 16px 0;
        width: 100%;
        text-align: center;
      }

      > label {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        color: rgba(0,0,0,.8);
      }

      > .socialIcons {
        margin: 30px 0;
        @include flexCenter();
        justify-content: space-between;

        > a {
          > img {
            max-width: 150px;
          }
        }
      }

      > .input--box {
        @include flexCenter();
        justify-content: flex-start;
        border: 1px solid rgba(128, 128, 128, 0.39);
        background: #fff;
        padding-left: 25px;
        margin-top: 3px;

        > .icon {
          width: 30px;

          > img {
            height: 20px;
          }
        }

        > input {
          height: 40px;
          outline: none;
          border: none;
          border-left: 1px solid rgba(128, 128, 128, 0.39);
          font-size: 21px;
        }
      }

      > .forgotPw {
        display: block;
        color: #22a2a4;
        text-align: right;
      }

      > .logInBtn--teacher {
        padding: 14px 0;
        display: block;
        text-align: center;
        background: #22a2a4;
        border-radius: 5px;
        color: #000;
      }

      a {
        color: #22a2a4;
      }

      > .borderTopBreak {
        border-top: 1px solid grey;
        padding: 15px 0;
      }


    }
  }

  > .otpCard {
    position: relative;
    width: 80vw;
    max-width: 600px;
    background: rgba(243, 243, 243, 0.95);
    margin: 0 auto;
    padding: 40px 0;
    @include flexCenter();
    flex-direction: column;
    display: block;

    &.none {
      display: none;
    }

    &.none {
      display: none;
    }

    > * {
      margin: 15px 0;
    }

    a {
      color: #22a2a4;
    }

    > input {
      width: 80%;
      margin-bottom: 5px;
    }

    > .regOTP {
      margin-top: 0;
      font-size: 16px;
      text-align: right;
    }

    > h4 {
      letter-spacing: 2px;
      font-size: 27px;
      margin-bottom: 50px;
      text-decoration: underline;
    }

    > p {
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 1px;
      width: 80%;
      margin-bottom: 5px;
    }

    .callToActionBtn {
      margin-bottom: 20px;
      padding: 10px 55px;
      background-image: url("../img/pricing_section/gradient_signUpBtn.png");
      background-size: cover;
      color: #000;
      font-weight: 900;
      font-size: 20px;
      border-radius: 5px;
    }

    > .backToSignUp {
      position: absolute;
      left: 5%;
      top: 5%;
      cursor: pointer;

      > i {
        font-size: 23px;
        transition: .3s;
      }

      &:hover {

        > i {
          color: #22a2a4;
        }
      }
    }
  }
}