@import "../abstracts/mixins";

// #41a2ff
// #fe0000
// #00ff01
// #ffff00

$blue: #41a2ff;
$red: #fe0000;
$green: #00ff01;
$yellow: #ffff00;

$break-small: 1600px;
$break-small-md: 1680px;
$break-small-lg: 1440px;
$break-medium: 1366px;
$break-medium-fix2: 1166px;

$break-medium-fix1: 1260px;
$break-medium-md: 1024px;
$break-nav: 1023px;
$break-hero: 964px;
$break-hero-flex: 810px;
$break-process-mobile1: 690px;
$break-process-mobile2: 500px;
$break-process-mobile3: 412px;
$break-btn-zoom: 410px;

$break-grid-container: 570px;

$break-choose: 360px;

$break-carousel: 622px;

$break-footer: 768px;

$break-syllabus: 448px;
$break-syllabus-more: 368px;
$break-pricing-top: 510px;

$blueTr: rgba(65, 162, 255, 0.51);
$redTr: rgba(254, 0, 0, 0.59);
$greenTr: rgba(0, 255, 1, 0.56);
$yellowTr: rgba(255, 255, 0, 0.53);

* {
  margin: 0;
  padding: 0;
  background: none;
  font-family: Myriad Pro Regular;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-input-placeholder { /* Edge */
  color: rgba(0, 0, 0, 0.3);
  font-size: 22px;
  font-family: "Myriad Pro";
  font-weight: 600;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
}


/* Cursor Section */

.cursor{
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  z-index: 99999999;
  top: 0;
  left: 0;
  opacity: 1;
}

@keyframes cursorAnim3{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand{
  animation: cursorAnim3 .5s forwards;
  border: 1px solid #ff5e4c;
}




body {
  overflow-x: hidden;
  user-select: none;
  background: black;
  height: 2000px;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}